body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Poppins, sans-serif;
}


.outer-div {
  width: 300px;
  height: 300px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}


.inner-div {
  width: 260px;
  height: 260px;
  border: 2px solid red;
  position: relative; 
}


.ball {
  width: 30px;
  height: 30px;
  background-color: green;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transition: top 0.3s, left 0.3s;
}


button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
